<div class="jumbotron center">
		<% if user_signed_in? %>
		# Congratulatioons You Have Sold Your Soul
		<% else %>
			<div class="container text-center"
							<p>
						<h1 align= "center">Welcome To PinTumblr</h1>
						<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
						<%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
					</p>
			</div>
		<% end %>


</div>