<div class="jumbotron  vertical-center">
	<h1 align= "center">Welcome To PinTumblr</h1>
	<div class="container text-center"
					<p>
				<%= link_to "Sign Up", "#", class: "btn btn-primary" %>
				<%= link_to "Login", "#", class: "btn btn-primary" %>
			</p>
	</div>
</div>